.nav {
  position: fixed;
  top: 0;
  height: 30px;
  z-index: 1;
  /*Animation*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.Nav__logo {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.Nav__logo > img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.Nav__logo > p {
  cursor: pointer;
  color: white;
  margin: 45px;
  font-size: 18px;
  font-weight: 500;
}

.nav__black {
  background-color: #111;
}
